.conteiner {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 150px;
    background-color: gray;
    padding: 10px;
    box-sizing: border-box;
}

.btn-cart {
    float: right;
    margin-top: 100px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.btn-cart:hover {
    background: rgba(255, 255, 255, .2);
}

.btn-cart:active {
    background: gray;
}


.products {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.product-item {
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid gray;
}


.buy-btn {
    color: gray;
    font-weight: 500;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
}

.buy-btn:hover {
    background: rgba(255, 255, 255, .2);
}

.buy-btn:active {
    background: darkgray;
}